.footer {
    background-image: linear-gradient(to bottom right, $color-secondary, $color-primary);  
    grid-column: full-start/ full-end; 

    padding: 8rem; 

    @media only screen and (max-width: $bp-small) {
        padding: 5rem;    
    }
 
}  

.nav {
    list-style: none;  

    display: grid;  
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));      
    grid-gap: 2rem;     
    align-items: center;  



    &__link:link,
    &__link:visited {
        font-size: 1.4rem;  
        text-decoration: none; 
        color: #fff; 
        text-transform: uppercase;  
        font-family: $font-display; 
        text-align: center;  
        padding: 1.5rem;
        display: block;
        transition: all .2s;
 
        &:hover,
        &:active {
            background-color: rgba(#fff,  .05); 
            transform: translateY(-.3rem);       

        }
    }

    
}

.copyright {
    font-size: 1.4rem; 
    color: $color-grey-light-1;
    text-align: center;
     margin-top: 6rem;
     margin-right: auto;
    margin-left: auto;  


    &__link:link,
    &__link:visited {
        margin: 0 .5rem;   
        text-decoration: none; 
        color: $color-primary;  
        font-size: 1.6rem; 
        text-transform: uppercase;  
        transition: all .2s; 
        display: inline-block;  


        &:hover,
        &:active {
            transform: scale(1.05);   
        }

    }

}